/*css for personal website*/
*{
  padding:0;
  margin:0;
  text-decoration: none;
  list-style:none;
  box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
}

nav{
  /*margin-top: 5px;*/
  z-index: 1;
  font-family: 'Titillium Web', sans-serif;
  top:0;
  width:100%;
  position: sticky;
  background-color: rgba(0,0,0,.9);
}
label.logo a{
  color:white;
  font-size: 10vh;
  line-height: 15vh;
  /*padding: 0 40px;*/
  position: sticky;
  /*top:15px;*/
  cursor: pointer;
  text-decoration: none;
}
label.logo:hover{
  color:white;
  text-decoration: none;
  text-transform: none;
}

label.logo2{
  color:white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 30px;
  display: block;
  display: sticky;
  z-index: 1;
}
div.banner  {
  position: relative;
  /*top: 0;*/
  /*left: 0;*/
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
div.pic {
  position: relative;
  z-index: 1;
  margin: auto;
  text-align: center;
}
/*nav ul{
   float:right; 
  text-align: center;
  margin-right:20px;
}*/

/*nav ul li{
  display: inline-block;
   line-height: 80px; 
  margin: 0 30px;
}*/

nav ul li a{
  color:white;
  font-size:3.5vh;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform:uppercase;
}

/*a.active, a:hover{
   background: #1b9bff; 
  color:red;
  transition: .5s;
}
*/
#content-wrapper{
	padding-bottom: 50px;
}
#page-container{
  position: relative;
  min-height: 100vh;
  padding-bottom: 3rem;
  /*z-index: 1;*/

}


.footer{
  width: 100%;
  height: 50px;
  margin-top: 3rem;
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
  display: block;
  color:white;
  font-size: 3vh;
  bottom:0;
  /*left:0;*/
}
/*div.mid{
	width: 50%;
	height: 50vh;

}*/

/*svg{
  pointer-events: none;
}*/
.onesnzeros {
  font-family: 'Titillium Web', sans-serif;
   position: fixed;
   top:0;
   left:0;
   max-width: 100vw;
   max-height: 100vh;
   opacity: 0;
   word-wrap: break-word;
   z-index: -1;
   transition: opacity 0.5s;
   -webkit-user-select: none;         
   -moz-user-select: none; 
   -ms-user-select: none; 
    user-select: none; 
}

.onesnzeros:hover {
  
   opacity: 1;
}
.content {
  z-index : 1;
  position: absolute;
  margin: auto;
  background-color: white;
  width: 50%;
  margin-left:30%;
  padding: 5%;
  margin-right: 25%;


  
}
.content p{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}



.checkbtn{
  font-size: 30px;
  color: white;
  float:left;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display:none;
}
#check{
  display: none;
}
/*.checkbtn{
	display: block;
}
*/
.checkbtn{
    display: block;
    margin-left: 1rem;
  }
  label.logo{
    display: none;	
  }
  label.logo2{
    display: block;
  }

  ul {
    position: fixed;
    width: 25%;
    height: 100vh;
    background: #1F201D;
    top:80px;
    left:-100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display:block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size:20px;
  }
  a:hover, a.active{
    /*background: black;*/
    color:white;
    padding: .2rem;
    text-decoration: none;
  }
  #check:checked ~ ul{
    left:0;
    transition: 1s;
  }
@media (max-width:1050px){
  label.logo a{
    font-size:35px;
    top:5px;
  }
  ul{
  	width: 30%;
  }
  nav ul li a{
    font-size: 30px;
  }
  .footer{
    font-size: 2vh;
  }
}
@media (max-width:858px){
  .checkbtn{
    display: block;
  }
  label.logo{
    display: none;
  }
  label.logo2{
    display: block;
  }
  .Movie{
    cursor: pointer;
    /* margin-left: 0vw; */
    padding: 40px;
  }
  div.Movie iframe{
    height: 50%;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
    /* border:2px solid black; */
    border:none;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1F201D;
    top:80px;
    left:-100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display:block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size:20px;
  }
  a:hover, a.active{
    background: none;
    color:red;
  }
  #check:checked ~ ul{
    left:0;
    transition: 1s;
  }
  #check:checked ~ video{
    display: none;
  }
}